/* google font roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.navBar{
    font-family: 'Roboto', sans-serif;
    color: rgb(4, 0, 27);
    text-align: center;
    font-size: 1.4rem;
}

/* responsive style  */
@media only screen and (max-width: 570px){
    .navBar h1{
        font-size: 1rem;
    }
}