.cardAndDelected{
    display: flex;
    position: relative;
}
.allItem{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    flex: 9;
}
.selectedItemList{
    flex: 3;
    position: relative;
}