.singleCard{
    width: 260px;
    padding: 10px;
    overflow: hidden;
    border-radius: 9px;
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 7px 14px rgba(54, 54, 54, 0.19);
    transition: ease-out .4s;
}
.singleCard:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}

.imgBox{
    width: 100%;
    height: 260px;
}
.imgBox img{
    width: 100%;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
}
.infoBox h4{
    margin-bottom: 0;
}
.infoBox p{
    margin-top: 8px;
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 10px;
}
.infoBox button{
    font-weight: 600;
    border: none;
    color: white;
    background-color: rgb(0, 134, 223);
    padding: 7px 11px;
    border-radius: 16px;
    display: flex;
    align-items: center;
}
.soppingIcon{
    margin-left: 5px;
}