html{
  font-size: 16px;
}
button{
  cursor: pointer;
  transition: ease-out .3s;
}
button:hover{
  background-color: rgb(44, 153, 255);
}

body {
  font-size: 14px;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(189, 100%, 93%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
